<h2
  (click)="toggleSection('favorites')"
  class="section-header"
  [class.closed]="!isSectionOpen['favorites']"
>
  Favorites<i class="fa-solid fa-star"></i>
</h2>
<div *ngIf="isSectionOpen['favorites']" class="section static">
  <ng-container *ngFor="let link of links | async">
    <ng-container *ngIf="link.section === 'favorites'">
      <a
        target="_blank"
        rel="noreferrer noopener"
        class="favorite"
        href="{{ link.url }}"
      >
        {{ link.title }}<i class="{{ link.icon }}"></i>
      </a>
    </ng-container>
  </ng-container>
</div>

<h2
  (click)="toggleSection('others')"
  class="section-header"
  [class.closed]="!isSectionOpen['others']"
>
  Other<i class="fa-solid fa-grip"></i>
</h2>
<div *ngIf="isSectionOpen['others']" class="section static">
  <ng-container *ngFor="let link of links | async">
    <ng-container *ngIf="link.section === 'others'">
      <a
        target="_blank"
        rel="noreferrer noopener"
        class="favorite other"
        href="{{ link.url }}"
      >
        {{ link.title }}<i class="{{ link.icon }}"></i>
      </a>
    </ng-container>
  </ng-container>
</div>

<h2
  (click)="toggleSection('servers')"
  class="section-header"
  [class.closed]="!isSectionOpen['servers']"
>
  Servers<i class="fa-solid fa-server"></i>
</h2>
<div *ngIf="isSectionOpen['servers']" class="section static">
  <ng-container *ngFor="let link of links | async">
    <ng-container *ngIf="link.section === 'servers'">
      <a
        target="_blank"
        rel="noreferrer noopener"
        class="favorite other"
        href="{{ link.url }}"
      >
        {{ link.title }}<i class="{{ link.icon }}"></i>
      </a>
    </ng-container>
  </ng-container>
</div>

<h2
  (click)="toggleSection('personal')"
  class="section-header"
  [class.closed]="!isSectionOpen['personal']"
>
  Personal<i class="fa-solid fa-grip"></i>
</h2>
<div *ngIf="isSectionOpen['personal']" class="section static">
  <ng-container *ngFor="let link of links | async">
    <ng-container *ngIf="link.section === 'personal'">
      <a
        target="_blank"
        rel="noreferrer noopener"
        class="favorite"
        href="{{ link.url }}"
      >
        {{ link.title }}<i class="{{ link.icon }}"></i>
      </a>
    </ng-container>
  </ng-container>
</div>

<div
  id="floating-button"
  (click)="openModal()"
  class="floating-button"
  #openModalButton
>
  +
</div>

<div id="modal" class="modal" [class.open]="modalOpen" #myModal>
  <div class="modal-content" #myModal>
    <span class="close" (click)="closeModal()">&times;</span>
    <form id="link-form">
      <label for="section">Choose a section:</label>
      <select id="section" name="section" [(ngModel)]="linkToAdd.section">
        <option value="favorites">Favorites</option>
        <option value="others">Other</option>
        <option value="servers">Servers</option>
        <option value="personal">Personal</option>
      </select>

      <label for="url">URL:</label>
      <input
        type="text"
        id="url"
        name="url"
        placeholder="Enter URL"
        [(ngModel)]="linkToAdd.url"
      />

      <label for="title">Title:</label>
      <input
        type="text"
        id="title"
        name="title"
        placeholder="Enter title"
        [(ngModel)]="linkToAdd.title"
      />

      <label for="icon">Icon:</label>
      <input
        type="text"
        id="icon"
        name="icon"
        placeholder="Enter FontAwesome class, e.g., fa-solid fa-plus"
        [(ngModel)]="linkToAdd.icon"
      />
      <div class="submit">
        <a class="favorite other" (click)="addLink()">Add Link</a>
      </div>
    </form>
  </div>
</div>
