<button class="remove-mode-bttn" (click)="toggleDeleteMode()">
  {{ isDeleteMode ? "End Remove Mode" : "Remove Mode" }}
</button>

<h2
  (click)="toggleSection('favorites')"
  class="section-header"
  [class.closed]="!isSectionOpen['favorites']"
>
  Favorites<i class="fa-solid fa-star"></i>
</h2>
<div *ngIf="isSectionOpen['favorites']" class="section static">
  <div *ngFor="let link of links | async">
    <div *ngIf="link.section === 'favorites'" class="link-container">
      <a
        target="_blank"
        rel="noreferrer noopener"
        class="favorite"
        [ngClass]="{ shake: isDeleteMode, 'disable-click': isDeleteMode }"
        href="{{ link.url }}"
      >
        <div>{{ link.title }}<i class="{{ link.icon }}"></i></div>
      </a>
      <span
        *ngIf="isDeleteMode"
        class="remove-icon"
        (click)="removeLinkById(link)"
      >
        <i class="fa fa-times"></i>
      </span>
    </div>
  </div>
</div>

<h2
  (click)="toggleSection('others')"
  class="section-header"
  [class.closed]="!isSectionOpen['others']"
>
  Other<i class="fa-solid fa-grip"></i>
</h2>
<div *ngIf="isSectionOpen['others']" class="section static">
  <div *ngFor="let link of links | async">
    <div *ngIf="link.section === 'others'" class="link-container">
      <a
        target="_blank"
        rel="noreferrer noopener"
        class="favorite other"
        [ngClass]="{ shake: isDeleteMode, 'disable-click': isDeleteMode }"
        href="{{ link.url }}"
      >
        <div>{{ link.title }}<i class="{{ link.icon }}"></i></div>
      </a>
      <span
        *ngIf="isDeleteMode"
        class="remove-icon"
        (click)="removeLinkById(link)"
      >
        <i class="fa fa-times"></i>
      </span>
    </div>
  </div>
</div>

<h2
  (click)="toggleSection('servers')"
  class="section-header"
  [class.closed]="!isSectionOpen['servers']"
>
  Servers<i class="fa-solid fa-server"></i>
</h2>
<div *ngIf="isSectionOpen['servers']" class="section static">
  <div *ngFor="let link of links | async">
    <div *ngIf="link.section === 'servers'" class="link-container">
      <a
        target="_blank"
        rel="noreferrer noopener"
        class="favorite other"
        [ngClass]="{ shake: isDeleteMode, 'disable-click': isDeleteMode }"
        href="{{ link.url }}"
      >
        <div>{{ link.title }}<i class="{{ link.icon }}"></i></div>
      </a>
      <span
        *ngIf="isDeleteMode"
        class="remove-icon"
        (click)="removeLinkById(link)"
      >
        <i class="fa fa-times"></i>
      </span>
    </div>
  </div>
</div>

<h2
  (click)="toggleSection('personal')"
  class="section-header"
  [class.closed]="!isSectionOpen['personal']"
>
  Personal<i class="fa-solid fa-grip"></i>
</h2>
<div *ngIf="isSectionOpen['personal']" class="section static">
  <div *ngFor="let link of links | async">
    <div *ngIf="link.section === 'personal'" class="link-container">
      <a
        target="_blank"
        rel="noreferrer noopener"
        class="favorite"
        [ngClass]="{ shake: isDeleteMode, 'disable-click': isDeleteMode }"
        href="{{ link.url }}"
      >
        <div>{{ link.title }}<i class="{{ link.icon }}"></i></div>
      </a>
      <span
        *ngIf="isDeleteMode"
        class="remove-icon"
        (click)="removeLinkById(link)"
      >
        <i class="fa fa-times"></i>
      </span>
    </div>
  </div>
</div>

<div
  id="floating-button"
  (click)="openModal()"
  class="floating-button"
  #openModalButton
>
  +
</div>

<div id="modal" class="modal" [class.open]="modalOpen" #myModal>
  <div class="modal-content" #myModal>
    <span class="close" (click)="closeModal()">&times;</span>
    <form id="link-form">
      <label for="section">Choose a section:</label>
      <select id="section" name="section" [(ngModel)]="linkToAdd.section">
        <option value="favorites">Favorites</option>
        <option value="others">Other</option>
        <option value="servers">Servers</option>
        <option value="personal">Personal</option>
      </select>

      <label for="url">URL:</label>
      <input
        type="text"
        id="url"
        name="url"
        placeholder="Enter URL"
        [(ngModel)]="linkToAdd.url"
      />

      <label for="title">Title:</label>
      <input
        type="text"
        id="title"
        name="title"
        placeholder="Enter title"
        [(ngModel)]="linkToAdd.title"
      />

      <label for="icon">Icon:</label>
      <input
        type="text"
        id="icon"
        name="icon"
        placeholder="Enter FontAwesome class, e.g., fa-solid fa-plus"
        [(ngModel)]="linkToAdd.icon"
      />
      <div class="submit">
        <a class="favorite other" (click)="addLink()">Add Link</a>
      </div>
    </form>
  </div>
</div>
