<h2
  class="section-header"
  (click)="toggleSectionState('favorites')"
  [class.closed]="!sectionsState?.favorites"
>
  Favorites<i class="fa-solid fa-star"></i>
</h2>
<div *ngIf="sectionsState?.favorites" class="section static">
  <ng-container *ngFor="let link of links | async">
    <ng-container *ngIf="link.section === 'favorites'">
      <div class="link-container">
        <a
          target="_blank"
          rel="noreferrer noopener"
          class="favorite other"
          [ngClass]="{ shake: isDeleteMode, 'disable-click': isDeleteMode }"
          href="{{ link.url }}"
        >
          <div>{{ link.title }}<i class="{{ link.icon }}"></i></div>
        </a>
        <span
          *ngIf="isDeleteMode"
          class="remove-icon"
          (click)="removeLinkById(link)"
        >
          <i class="fa fa-times"></i>
        </span>
      </div>
    </ng-container>
  </ng-container>
</div>

<h2
  class="section-header"
  (click)="toggleSectionState('others')"
  [class.closed]="!sectionsState?.others"
>
  Other<i class="fa-solid fa-grip"></i>
</h2>
<div *ngIf="sectionsState?.others" class="section static">
  <ng-container *ngFor="let link of links | async">
    <ng-container *ngIf="link.section === 'others'">
      <div class="link-container">
        <a
          target="_blank"
          rel="noreferrer noopener"
          class="favorite other"
          [ngClass]="{ shake: isDeleteMode, 'disable-click': isDeleteMode }"
          href="{{ link.url }}"
        >
          <div>{{ link.title }}<i class="{{ link.icon }}"></i></div>
        </a>
        <span
          *ngIf="isDeleteMode"
          class="remove-icon"
          (click)="removeLinkById(link)"
        >
          <i class="fa fa-times"></i>
        </span>
      </div>
    </ng-container>
  </ng-container>
</div>

<h2
  class="section-header"
  (click)="toggleSectionState('servers')"
  [class.closed]="!sectionsState?.servers"
>
  Servers<i class="fa-solid fa-server"></i>
</h2>
<div *ngIf="sectionsState?.servers" class="section static">
  <ng-container *ngFor="let link of links | async">
    <ng-container *ngIf="link.section === 'servers'">
      <div class="link-container">
        <a
          target="_blank"
          rel="noreferrer noopener"
          class="favorite other"
          [ngClass]="{ shake: isDeleteMode, 'disable-click': isDeleteMode }"
          href="{{ link.url }}"
        >
          <div>{{ link.title }}<i class="{{ link.icon }}"></i></div>
        </a>
        <span
          *ngIf="isDeleteMode"
          class="remove-icon"
          (click)="removeLinkById(link)"
        >
          <i class="fa fa-times"></i>
        </span>
      </div>
    </ng-container>
  </ng-container>
</div>

<h2
  class="section-header"
  (click)="toggleSectionState('personal')"
  [class.closed]="!sectionsState?.personal"
>
  Personal<i class="fa-solid fa-grip"></i>
</h2>
<div *ngIf="sectionsState?.personal" class="section static">
  <ng-container *ngFor="let link of links | async">
    <ng-container *ngIf="link.section === 'personal'">
      <div class="link-container">
        <a
          target="_blank"
          rel="noreferrer noopener"
          class="favorite other"
          [ngClass]="{ shake: isDeleteMode, 'disable-click': isDeleteMode }"
          href="{{ link.url }}"
        >
          <div>{{ link.title }}<i class="{{ link.icon }}"></i></div>
        </a>
        <span
          *ngIf="isDeleteMode"
          class="remove-icon"
          (click)="removeLinkById(link)"
        >
          <i class="fa fa-times"></i>
        </span>
      </div>
    </ng-container>
  </ng-container>
</div>

<div
  id="floating-button"
  (click)="openModal()"
  class="floating-button"
  #openModalButton
>
  <i class="fa-solid fa-plus"></i>
</div>

<div class="floating-button left-fixed" (click)="toggleDeleteMode()">
  <i *ngIf="isDeleteMode" class="fa-solid fa-xmark"></i>
  <i *ngIf="!isDeleteMode" class="fa-solid fa-trash"></i>
</div>

<div id="modal" class="modal" [class.open]="modalOpen" #myModal>
  <div class="modal-content" #myModal>
    <span class="close" (click)="closeModal()">&times;</span>
    <form id="link-form">
      <label for="section">Choose a section:</label>
      <select id="section" name="section" [(ngModel)]="linkToAdd.section">
        <option value="favorites">Favorites</option>
        <option value="others">Other</option>
        <option value="servers">Servers</option>
        <option value="personal">Personal</option>
      </select>

      <label for="url">URL:</label>
      <input
        type="text"
        id="url"
        name="url"
        placeholder="Enter URL"
        [(ngModel)]="linkToAdd.url"
      />

      <label for="title">Title:</label>
      <input
        type="text"
        id="title"
        name="title"
        placeholder="Enter title"
        [(ngModel)]="linkToAdd.title"
      />

      <label for="icon">Icon:</label>
      <div class="icon-wrapper">
        <input
          type="text"
          id="icon"
          name="icon"
          placeholder="Enter FontAwesome class, e.g., fa-solid fa-plus"
          [(ngModel)]="linkToAdd.icon"
        />
        <span class="favorite other">
          <i class="{{ linkToAdd.icon }}"></i>
        </span>
      </div>
      <a class="link" href="https://fontawesome.com/search" target="_blank">Search for icons</a>
      <div class="submit">
        <a class="favorite other" (click)="addLink()">Add Link</a>
      </div>
    </form>
  </div>
</div>
