@if (isSearchVisible) {
  <div class="search-container">
    <input
      #searchInput
      type="text"
      placeholder="Search links..."
      class="search-input"
      [(ngModel)]="searchTerm"
      (input)="onSearchInput($event)">
    @if (searchTerm) {
      <div class="search-results">
        <div class="search-results-list">
          @for (link of filteredLinks; track link) {
            <a
              [href]="link.url"
              target="_blank"
              class="search-result-item">
              <i [class]="link.icon"></i>
              <span>{{ link.title }}</span>
            </a>
          }
        </div>
      </div>
    }
  </div>
}
