$jet: #312f2f;
$royal-purple: #7d5ba6;
$coral: #f78764;
$plum-web: #ff9cea;

$nunito: "Nunito", sans-serif;
$press-start: "Press Start 2P", cursive;

$off-white: #faf4ef;
$off-black: #262624;
$salmon: #ea7869;
$lavender: #c19fdf;
$off-teal: #4c8883;
