$white: #ffe;

$jet: #312f2f;
$royal-purple: #7d5ba6;
$coral: #f78764;
$plum-web: #ff9cea;

$nunito: "Nunito", sans-serif;
$press-start: "Press Start 2P", cursive;
$lexend: "Lexend Mega", sans-serif;

$off-white: #ffead8;
$off-black: #262624;
$salmon: #ea7869;
$lavender: #c19fdf;
$off-teal: #4c8883;
$greenish: #90ee90;
$manila: #ffd077;
$light-blue: #69d2e7;
