@import "~@fortawesome/fontawesome-free/css/all.css";
@import "./variables";
@import "./overrides";
@import "./loader";
@import "./flex";
@import "./modal";
@import "./spacing";

.clickable {
  cursor: pointer;
}

.text-center {
  text-align: center;
}
