@import "~@fortawesome/fontawesome-free/css/all.css";
@import "./variables";
@import "./overrides";
@import "./loader";
@import "./flex";
@import "./modal";

.clickable {
  cursor: pointer;
}
.mb-1 {
  margin-bottom: 1rem;
}
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}
.pb-1 {
  padding-bottom: 1rem;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.text-center {
  text-align: center;
}
