<div class="neo-theme-wrapper">
  <!-- Header Section -->
  <header class="nb-container manilla-bg">
    <h1 class="text-center mt-1">
      <i class="fa-solid fa-star nb-icon-apply lavendar"></i>
      Welcome, Logan!
      <i class="fa-solid fa-bolt-lightning nb-icon-apply greenish" (click)="searchComp.toggleSearch()"></i>
    </h1>
    <app-search #searchComp [allLinks]="allLinks"></app-search>
    <app-clock></app-clock>
  </header>

  <!-- Links Sections -->
  <div class="sections-wrapper" [class.isDeleteMode]="isDeleteMode" [class.isEditMode]="isEditMode">
    <div class="nb-container white-bg" *ngFor="let sectionEntry of orderedSections">
      <div>
        <h2 class="flex-container header {{sectionEntry.key}}" [class.closedSection]="!sectionEntry.isOpen">
          {{ sectionEntry.key | titlecase }}
          <i class="fa-solid toggle-icon" [class.fa-eye]="sectionEntry.isOpen"
            [class.fa-eye-slash]="!sectionEntry.isOpen" (click)="toggleSection(sectionEntry.key)"
            title="Toggle Section Visibility">
          </i>
        </h2>
        <div class="link-list flex-container justify-space-evenly gap-1 flex-wrap my-1 mx-1"
          *ngIf="sectionEntry.isOpen">
          <p *ngFor="let link of sectionEntry.value" class="list-item">
            <a [href]="(!isDeleteMode && !isEditMode) ? link.url : null"
              [target]="(!isDeleteMode && !isEditMode) ? '_blank' : null" (click)="onLinkClick($event, link)">
              {{ link.title }} <i [class]="link.icon"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Tools Tray -->
  <app-tools-tray [isDeleteMode]="isDeleteMode" [isEditMode]="isEditMode" (addLink)="openModal()"
    (deleteMode)="toggleDeleteMode()" (editMode)="toggleEditMode()" (addSection)="promptAddSection()"
    (reorderSections)="toggleReorderMode()" (deleteSection)="promptDeleteSection()">
  </app-tools-tray>

  <!-- Add Link Modal -->
  <app-add-link-modal [isOpen]="modalOpen" [sections]="sectionKeys" (close)="closeModal()"></app-add-link-modal>

  <!-- Edit Link Modal -->
  <app-edit-link-modal [isOpen]="editModalOpen" [linkToEdit]="linkToEdit" [sections]="sectionKeys"
    (close)="closeEditModal()">
  </app-edit-link-modal>

  <!-- Add Section Modal -->
  <app-add-section-modal [isOpen]="sectionModalOpen" [currentMaxOrder]="currentMaxOrder" (close)="closeSectionModal()">
  </app-add-section-modal>

  <!-- Delete Section Modal -->
  <app-delete-section-modal [isOpen]="deleteSectionModalOpen" [sections]="sectionKeys" [allLinks]="allLinks"
    (close)="closeDeleteSectionModal()">
  </app-delete-section-modal>

  <!-- Reorder Modal -->
  <app-reorder-modal [isOpen]="reorderModalOpen" [sections]="orderedSections" (close)="closeReorderModal()">
  </app-reorder-modal>
</div>