@import "../../variables";
@import "../../flex";

.neo-theme-wrapper {
  font-family: $lexend;
  background-color: $jet;
  // background-image: url("../../assets/grid2.svg");
  background-size: cover;
  background-repeat: repeat;
  color: $off-black;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.nb-container {
  box-shadow: 4px 4px 4px $black;
  border-radius: 10px;

  &.manilla-bg {
    background-color: $orange;
    width: 650px;
    max-width: 100%;
    margin: 30px auto 10px auto;
    @media screen and (max-width: 1000px) {
      width: 350px;
    }
  }

  &.white-bg {
    background-color: #3f3f3f;
    background-image: url(https://assets-global.website-files.com/64a57c993515a19c5be44331/64a57dfd5010c65e7752d89f_dot.svg);
    flex-basis: 49%;
    @media screen and (max-width: 1000px) {
      flex-basis: 100%;
    }
  }
}

.sections-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  padding: 40px 60px;
  @media screen and (max-width: 1000px) {
    padding: 10px;
  }
}

.nb-icon-apply {
  text-shadow: -1px -1px 0 #000, /* Top left shadow */ 1px -1px 0 #000,
    /* Top right shadow */ -1px 1px 0 #000,
    /* Bottom left shadow */ 1px 1px 0 #000, 3px 3px 0px #000;
  &.lavendar {
    color: $lavender;
  }
  &.salmon {
    color: $salmon;
  }
  &.greenish {
    color: $greenish;
  }
  &.light-blue {
    color: $light-blue;
  }
}

.header {
  padding: 1rem;
  background-color: $orange;
  border-top: 5px solid lighten($orange, 10%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.header.closedSection {
  border-bottom: 0px solid $off-black;
  background-color: $light-blue;
}
.drawer-icon {
  transition: all 0.2s ease-in-out;
}
.drawer-icon.closed {
  transform: rotate(90deg);
}

.list-item {
  display: flex;
  & a {
    padding: 1rem;
    background-color: $orange;
    border: 3px solid $coral;
    box-shadow: 3px 3px 0px $black;
    text-decoration: none;
    color: $jet;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    &:hover {
      background-color: $light-blue;
      color: $off-black;
      box-shadow: 0px 0px 0px $off-black;
    }
  }
}

.isDeleteMode {
  .list-item a {
    background-color: rgb(225, 70, 70);
    color: $jet;
    border: 3px solid firebrick;
    box-shadow: 3px 3px 0px firebrick;
    &:hover {
      background-color: firebrick;
      color: $off-black;
      box-shadow: none;
      cursor: crosshair;
    }
  }
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $orange;
  border: 3px solid $off-black;
  box-shadow: 3px 3px 0px $off-black;
  padding: 10px;
  cursor: pointer;
}
.floating-button-left {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: $orange;
  border: 3px solid $off-black;
  box-shadow: 3px 3px 0px $off-black;
  padding: 10px;
  cursor: pointer;
}
