@import "../../variables";
@import "../../flex";

.neo-theme-wrapper {
  font-family: $lexend;
  // background-image: url(https://assets-global.website-files.com/64a57c993515a19c5be44331/64a57dfd5010c65e7752d89f_dot.svg);
  background-color: $jet;
  background-image: url("../../assets/grid2.svg");
  background-size: cover;
  background-repeat: repeat;
  color: $off-black;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.nb-container {
  box-shadow: 3px 3px 0px $royal-purple;
  border: 3px solid $plum-web;


  &.manilla-bg {
    background-color: $coral;
    width: 650px;
    max-width: 100%;
    margin: 30px auto 10px auto;
  }

  &.white-bg {
    background-color: $off-black;
    background-image: url(https://assets-global.website-files.com/64a57c993515a19c5be44331/64a57dfd5010c65e7752d89f_dot.svg);
    flex-basis: 49%;
    @media screen and (max-width: 1000px) {
      flex-basis: 90%;
    }
  }
}

.sections-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 40px 60px;
}

.nb-icon-apply {
  text-shadow: -1px -1px 0 #000,  /* Top left shadow */
  1px -1px 0 #000,  /* Top right shadow */
 -1px  1px 0 #000,  /* Bottom left shadow */
  1px  1px 0 #000,
  3px 3px 0px #000;
  &.lavendar {
    color: $lavender;
  }
  &.salmon {
    color: $salmon;
  }
  &.greenish {
    color: $greenish;
  }
  &.light-blue {
    color: $light-blue;
  }
}

.header {
  padding: 1rem;
  background-color: $coral;
  border-bottom: 3px solid $off-black;
}
.header.closedSection {
  border-bottom: 0px solid $off-black;
  background-color: $light-blue;
}
.drawer-icon {
  transition: all 0.2s ease-in-out;
}
.drawer-icon.closed {
  transform: rotate(90deg);
}

.list-item {
  display: flex;
  & a {
    padding: 1rem;
    background-color: $lavender;
    border: 3px solid $royal-purple;
    box-shadow: 3px 3px 0px $plum-web;
    text-decoration: none;
    color: $jet;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: $light-blue;
      color: $off-black;
      box-shadow: 0px 0px 0px $off-black;
    }
  }
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $coral;
  border: 3px solid $off-black;
  box-shadow: 3px 3px 0px $off-black;
  padding: 10px;
  cursor: pointer;
}
